@mixin buttonm($color:black, $bgcolor:darkcyan){
    border: 1px solid $color;
    background-color: $bgcolor;
    border-radius: 5px;
    width: 50px;
}
$border_white :1px solid #ffff;
.bg{
    background-color:black;
    margin-top: 20px;
    height: calc(100vh - 6em);
}
.wrap{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .hp{
        border: $border_white;
        color : white;
    }
    .table{
    position: relative;
    top:30px;

        border: $border_white;
        border-collapse: collapse;
        margin-top: 30px;
    }
    .td{
        color:white;
        border: $border_white;
        padding:  10px;
        &:nth-child(3){
            width: 40vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

        }
    }
    .edit{
       padding: 0 10px;
        border : $border_white;
        button{
            @include buttonm(black,darkcyan)
        }
    }
    .del{
        padding: 0 10px;
        border : $border_white;
        button{
            @include buttonm(black,chocolate)
     
        }
    }
}
.add{
    color: red;
    margin-right: 5px;
}
.addtext{
    color:white;
    cursor: pointer;
 
}
.addtitle{
    position: fixed;
    top:100px;
    left:18%;
    text-align: left;
}
.displaynone{
    display: none;
}

.linego{
    text-decoration: line-through;
    color: red !important;
}